.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //height: 100%;
  width: 100vw;
  background-color: $secondary-color;
  align-items: center;
  overflow: auto;
  margin-bottom: 63px;
  padding-bottom: 10px;
  margin-top: 50px;

  &__card {
    display: flex;
    height: 250px;
    width: 80%;
    background-color: $background-color;
    margin-top: 10px;

    &__imgcontainer {
      min-height: 250px;
      overflow: hidden;
      max-width: 33%;
    }

    &__image {
      max-width: auto;
      max-height: auto;
      object-fit: cover;
      object-position: top;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 66%;
      padding-left: 30px;
    }
  }
}
