//Header
$header-background: #dbdfea;
$header-text-color: #54b0f4;

//Footer
$footer-background: #dbdfea;
$footer-text-color: #54b0f4;

//Content-Box
$content-background: #f3f6fb;

//Card
$card-background: #dbdfea;
$card-button-color: #54b0f4;
