<main class="content">
  <div class="content__card">
    <img
      src="https://imgr3.promobil.de/Trabbi-DDR-Fahrzeug-articleDetail-689000bd-1055761.jpg"
      alt="trabant car"
      class="content__card__image"
    />
    <span class="content__card__text">
      <h3>Trabant</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Necessitatibus, voluptates!
      </p>
      <button class="content__card__button">Read more</button>
    </span>
  </div>
  <div class="content__card">
    <img
      src="https://imgr3.promobil.de/Trabbi-DDR-Fahrzeug-articleDetail-689000bd-1055761.jpg"
      alt="trabant car"
      class="content__card__image"
    />
    <span class="content__card__text">
      <h3>Trabant</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Necessitatibus, voluptates!
      </p>
      <button class="content__card__button">Read more</button>
    </span>
  </div>
  <div class="content__card">
    <img
      src="https://imgr3.promobil.de/Trabbi-DDR-Fahrzeug-articleDetail-689000bd-1055761.jpg"
      alt="trabant car"
      class="content__card__image"
    />
    <span class="content__card__text">
      <h3>Trabant</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Necessitatibus, voluptates!
      </p>
      <button class="content__card__button">Read more</button>
    </span>
  </div>
  <div class="content__card">
    <img
      src="https://imgr3.promobil.de/Trabbi-DDR-Fahrzeug-articleDetail-689000bd-1055761.jpg"
      alt="trabant car"
      class="content__card__image"
    />
    <span class="content__card__text">
      <h3>Trabant</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Necessitatibus, voluptates!
      </p>
      <button class="content__card__button">Read more</button>
    </span>
  </div>
</main>
