<main class="content">
  <div class="content__card">
    <div class="content__card__imgcontainer">
      <img
        src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/master/w_2560%2Cc_limit/Transpo_G70_TA-518126.jpg"
        alt="trabant car"
        class="content__card__image"
      />
    </div>
    <div class="content__card__text">
      <h3>Jaguar Model O</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur,
      </p>
      <a href="./pages/detail.html"
        ><button class="content__card__button">Read more</button></a
      >
    </div>
  </div>
</main>
