<div class="details_container">
  <h1 class="details_container__heading">Jaguar Model O</h1>
  <div class="details_container__image">
    <img
      src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/master/w_2560%2Cc_limit/Transpo_G70_TA-518126.jpg"
      alt="trabant car"
      class="content__card__image"
    />
  </div>
  <div class="details_container__text">
    <div class="details_container__table"></div>

    <table>
      <tr>
        <th>Heading1</th>
        <th>Heading2</th>
      </tr>
      <tr>
        <td>Detail1</td>
        <td>50.000</td>
      </tr>
      <tr>
        <td>Detail2</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Detail3</td>
        <td>300</td>
      </tr>
      <tr>
        <td>Detail4</td>
        <td>H400</td>
      </tr>
      <tr>
        <td>Detail5</td>
        <td>Y5000</td>
      </tr>
      <tr>
        <td>Detail6</td>
        <td>4054</td>
      </tr>
    </table>
  </div>
  <h3 class="details_container__text__caption">
    The One and Only
  </h3>
  <p class="details_container__text_history">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem maxime ipsa
    totam cum nihil, unde blanditiis incidunt eius, minima consequuntur dolor
    commodi dolorem distinctio sint in repellat placeat. Asperiores eaque
    suscipit obcaecati aspernatur maxime aliquid deleniti tempore, eos eius
    nesciunt unde ducimus assumenda qui maiores necessitatibus, praesentium
    excepturi dicta repellendus dolorem, ratione at possimus. Aperiam, dolorem
    quia! Tempora, reprehenderit nobis. Nobis perspiciatis libero pariatur,
    accusantium exercitationem quasi! Laboriosam eligendi similique numquam
    reprehenderit nesciunt, animi nulla sunt quos facere. Aperiam, minima. Minus
    eum quae eligendi quasi obcaecati possimus reiciendis ipsa fugit blanditiis,
    earum quas placeat voluptatum nesciunt autem enim, quia quidem.
  </p>
</div>
